{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block page_content %}
    <div>
        <h3>registered users
            <span class="badge badge-light">{{ registered_users }}</span>
        </h3>
    </div>
    <div>
        <h3>current active users
            <span class="badge badge-light">{{ active_users }}</span>
        </h3>
    </div>
    <div>
        <h3>published products
        <span class="badge badge-light">{{ published_products }}</span>
        </h3>
    </div>
    <div>
        <h3>open support tickets
            <span class="badge badge-light">0</span>
        </h3>
    </div>
{% endblock %}
