body {
    
    background-image: linear-gradient(to bottom right, #8ED6E8, #78E4E5, #77EFD2, #94F7B4, #F9F871);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    background-attachment: fixed;
}

.filer-dropzone{
    width: 100%;
}

[data-href] {
    cursor: pointer;
}

.invalid-feedback{
    display: block;
}

.form-control{
    font-weight: 600;
}

.font-primary {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}

.dropdown-item {
    font-weight: 600;
}

.btn {
    font-weight: 600;
}

h5 {
    font-weight: 600;
}

.version {
    font-weight: 100;
    text-align: center;
}

.june-bud {
    color: #badc58;
}
.pure-apple {
    color: #6ab04c;
}
.paradise-green {
    color: #b8e994;
}
.aurora-green {
    color: #78e08f;
}
.waterfall {
    color: #38ada9;
}
.reef-encounter {
    color: #079992;
}

.star-filled {
  color: #6ab04c;
}

.star-ratings {
    margin-bottom: 10px;
}

.star-ratings-rating-user {
    text-align: center;
}

.star-ratings-rating-stars-container {
    margin-top: 3px;
}

.star-ratings-rating-average {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
