{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item active">Register account</li>{% endblock %}

{% block card_body %}
    <h3 class="card-title">Register</h3>
    <div class="alert alert-warning" role="alert">The confirmation link was invalid, possibly because it has already been used.
    </div>
{% endblock %}
