{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item active">Register account</li>{% endblock %}

{% block card_body %}
    <h3 class="card-title">Register</h3>
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Registration successful. Check your email and SPAM folder for activation instructions.
    </div>
{% endblock %}