{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        {% block card_body %}{% endblock card_body %}
                    </div>
                    {% block card_footer %}{% endblock card_footer %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
