{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block card_body %}
    <h3 class="card-title">Locked out</h3>
    <div class="alert alert-warning" role="alert">Account locked: too many login attempts. Please try again later.
    </div>
{% endblock %}
