{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block card_body %}
        <h3 class="card-title">Login</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    {% endblock card_body %}
{% block card_footer %}
        <div class="card-footer text-muted text-center">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </div>
        <div class="text-center py-2">
            <small>
                <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
            </small>
        </div>
{% endblock card_footer %}
