{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}
  {% if validlink %}
    Change password form {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    <h3 class="card-title">Change password for {{ form.user.username }}</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block">Change password</button>
      </form>
  {% else %}
    <h3 class="card-title">Reset your password</h3>
      <div class="alert alert-danger" role="alert">
        It looks like you clicked on an invalid password reset link.  Please try again.
      </div>
      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Reset password</a>
  {% endif %}
{% endblock %}
