{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Reset your password{% endblock %}

{% block card_body %}
        <h3 class="card-title">Reset your password</h3>
        <p>Enter your email address and we will send you a link to reset your password.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
        </form>
{% endblock card_body %}
