{% extends 'accounts/base.html' %}
{%  load bootstrap4 %}

{% block title %}Reset your password{% endblock %}

{% block card_body %}
    <h3 class="card-title">Reset your password</h3>
    <p>Check your email for a link to reset your password. If it doesn't appear in a few minutes, check your spam folder.</p>
    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to login</a>
{% endblock %}