{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Change Password{% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item active">Change password</li>{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
</div>
{% endblock %}
