{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block title %}Password changed!{% endblock %}

{% block card_body %}
  <h3 class="card-title">Password changed!</h3>
  <div class="alert alert-success" role="alert">
    You have successfully changed your password! You may now proceed to log in.
  </div>
  <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
{% endblock card_body %}