{% extends 'accounts/base.html' %}
{% load bootstrap4 %}

{% block card_body %}
        <h3 class="card-title">Register</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>
            <button type="submit" class="btn btn-block btn-success mt-4">Create an account</button>
        </form>
{% endblock %}
