{% extends 'catalog/product_detail_list.html' %}
{% load bootstrap4 %}
{% block title %}
 {{ search.name }} - {{ block.super }}
{% endblock %}

{% block content_intro %}
    <div class="mx-4">
      <p>Make informed decisions about your skin care products.</p>
      <p>We list ingredients with helpful information about each one so you know what you are putting on your skin.</p>
      <p>The newest products are listed below. Search is available by typing in the box above.</p>
    </div>
{% endblock %}
