{% extends 'catalog/product_list.html' %}
{% load bootstrap4 %}

{% block title %}
 {{ ingredient.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item"><a href="{% url 'catalog_ingredient_list' %}">Ingredient List</a></li>
    <li class="breadcrumb-item active">{{ ingredient.name }}</li>
{% endblock %}

{% block content_intro %}
    <p><h3>{{ ingredient.name }}</h3></p>
    <p>
        {% if ingredient.state == 'published' or user.is_authenticated and user.is_staff %}
        <strong>Description:</strong>
        {{ ingredient.description|escape }}
    {% endif %}
    &nbsp;</p>
    {% if ingredient.state != 'published' and user.is_authenticated and user.is_staff %}
        <a href="{% url 'catalog_publish_ingredient' ingredient.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Publish</a>
    {% endif %}
    {% if ingredient.altname.all.count > 0 %}
    <p><strong>Alternative names:</strong> {% for altname in ingredient.altname.all %}{{ altname.name }}{% if forloop.last %} {% else %}, {% endif %}{% endfor %}</p>
    {% endif %}
{% endblock %}
