{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item">Ingredient List</li>
{% endblock %}

{% block page_content %}
    {% if page_obj %}
    <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Ingredient</th>
        <th>Products</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in page_obj %}
        <tr>
          <td>
              {% if user.is_staff %}{% if ingredient.state != 'published' %}<span class="badge badge-secondary">Mod</span>{% endif %}{% endif %}
              <a href="{% url 'catalog_ingredient' ingredient.pk %}">{{ ingredient.name }}</a></td>
          <td>{{ ingredient.product_set.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
      {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
    {% else %}
        <p>No ingredients found.</p>
    {% endif %}
{% endblock %}
