{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item active">Manufacturers</li>
{% endblock %}

{% block page_content %}
    {% if page_obj %}
    <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Manufacturer</th>
        <th>Products</th>
      </tr>
    </thead>
    <tbody>
      {% for manufacturer in page_obj %}
      {% url 'catalog_product_by_manufacturer' manufacturer.pk as manufacturer_url %}
        <tr>
          <td><a href="{{ manufacturer_url }}">{{ manufacturer.name }}</a></td>
          <td>{{ manufacturer.products.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
      {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
    {% else %}
        <p>No categories found.</p>
    {% endif %}
{% endblock %}
