{% extends "base.html" %}
{% load bootstrap4 %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item active">Privacy Policy</li>
{% endblock %}

{% block page_content %}
    <h2>Data Protection and Privacy</h2>
    <p>Some services on this website require us to collect personal information from you.
        To comply with the Data Protection Act, we have a duty to tell you how we store the information we collect
        and how it is used. Any information you do submit will be stored securely and will never be passed on or sold
        to any third party.</p>
    <h2>User anonymity and personal information</h2>
    <p>Log files are maintained and analysed of all requests for files on this website's web servers.
        Log files do not capture personal information but do capture the user's IP address, which is automatically
        recognised by our web servers.</p>
    <p>Aggregated analysis of these log files is used to monitor website usage. These analyses may be made available
        to our staff and partner agencies to allow them to measure, for example, overall popularity of the site and
        typical user paths through the site.</p>
    <p>Except as stated already, we will make no attempt to identify individual users. You should be aware, however,
        that access to web pages will generally create log entries in the systems of your ISP or
        network service provider. These entities may be in a position to identify the client computer equipment used
        to access a page. Such monitoring would be done by the provider of network services and
        is beyond the responsibility or control of us.</p>
    <p>We will make no attempt to track or identify individual users, except where there is a reasonable suspicion
        that unauthorised access to systems is being attempted. In the case of all users, we reserves the right to
        attempt to identify and track any individual who is reasonably suspected of trying to gain unauthorised access
        to computer systems or resources operating as part of our web services.</p>
    <p>As a condition of use of this site, all users must give permission for us to use its access logs to attempt
        to track users who are reasonably suspected of gaining, or attempting to gain, unauthorised access.</p>
    <p>All log file information collected by us is kept secure and no access to raw log files is given to any third party.</p>
    <h2>Use of cookies</h2>
    <p>This website does not store any information that would, on its own, allow us to identify individual users
        of this service without their permission. Any cookies that may be used by this website are used either solely
        on a per session basis or to maintain user preferences. Cookies are not shared with any third parties.</p>
    <table class="table">
	  <thead>
		<tr>
			<th scope="col"><span style="font-weight: 400;">Cookie Name</span></th>
			<th scope="col"><span style="font-weight: 400;">Description</span></th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
			<td data-th="Cookie Name">session, sessionid</td>
			<td data-th="Cookie Description">
			<p>This is a simple token used by the applications to identify your unique session on the website.
                Typically used to maintain the integrity of your session while transacting information with a website
                (accessing secure areas, forms submissions etc)</p>
			</td>
		</tr>
		<tr>
			<td data-th="Cookie Name">CookieControl</td>
			<td data-th="Cookie Description">
			<p>Cookie Control cookies. This cookie is set in order to remember the user's preferences in regards to cookies.</p>
			</td>
		</tr>
		<tr>
			<td data-th="Cookie Name">euconsent</td>
			<td data-th="Cookie Description">
			  <p>This cookie contains the IAB TCF consent string and consent information for all the standard IAB vendors and purposes.</p>
			</td>
		</tr>
		<tr>
			<td data-th="Cookie Name">__utma, __utmb, __utmc, __utmc, _ga, _gat, _gid</td>
			<td data-th="Cookie Description">
			  <p>Google Analytics: We use Google Analytics to monitor traffic levels, search queries and visits to this website.</p>
              <p>Google Analytics stores IP address anonymously on its servers in the US, and neither us or
                  Google associate your IP address with any personally identifiable information.</p>
              <p>These cookies enable Google to determine whether you are a return visitor to the site,
                  and to track the pages that you visit during your session.</p>
  			  <p>These cookies are set only after the user has given consent to us to use cookies.</p>
			</td>
		</tr>
		<tr>
			<td data-th="Cookie Name">1P_JAR, AID, ANID, APISID, DSID, DV, HSID, NID, SAPISID, SID, SSID, _fbp, id</td>
			<td data-th="Cookie Description">
			<p>Google and Doubleclick remarketing cookies. We use these cookies to help us improve the relevancy of
                advertising campaigns you receive.</p>
			<p>These cookies are set only after the user has given consent to us to use cookies.</p>
			</td>
		</tr>
	  </tbody>
    </table>
{% endblock %}
