{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}
{% load ratings %}

{% block title %}
 {{ product.name }} - {{ block.super }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {{ form.media }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item active">{% if product %}{{ product.name }}{% else %}New Product{% endif %}</li>
{% endblock %}

{% block page_content %}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col">
          {% bootstrap_field form.category %}
      <!-- form manufacturer -->
          {% bootstrap_field form.manufacturer %}
          <!-- form image upload -->
          <div class="form-row">
            {{ form.image }}
          </div>
      </div>
      <div class="col">
          <!-- {% bootstrap_form_errors form %} -->
      <!-- form product name -->
          {% bootstrap_field form.name %}
        <div><!-- rating placeholder--></div>
      <!-- form ingredients selector -->
          <p>{% bootstrap_field form.ingredients %}</p>
        <!-- form product description -->
          <p>{% bootstrap_field form.description %}</p>
        <!-- form tag selector -->
          <p>{% bootstrap_field form.tags %}
      <br />
      <!-- button block (save), (publish) -->
              <button type=submit class="btn btn-primary">SAVE</button>
      </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script type="text/javascript">
        var __jQuery = django.jQuery;
        window.jQuery = (__jQuery) ? __jQuery : window.jQuery || undefined;
        window.$ = window.jQuery;
    </script>
    <script src="{% static 'filer/js/libs/class.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/fileuploader.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/mediator.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/retina.min.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'filer/js/addons/popup_handling.js' %}"></script>
    <script src="{% static 'filer/js/addons/focal-point.js' %}"></script>
    <script src="{% static 'filer/js/addons/toggler.js' %}"></script>
    <script src="{% static 'filer/js/base.js' %}"></script>
    <script type="text/javascript">
        var __jQuery;
        var __$;
        // reassign jQuery if jQuery is already loaded
        __jQuery = (window.jQuery) ? window.jQuery.noConflict(true) : undefined;
        __$ = __jQuery;
    </script>
{% endblock %}
