{% extends "base.html" %}
{% load humanize %}
{% load has_role %}
{% load bootstrap4 %}
{% load class_tag %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item active">Product List</li>
{% endblock %}

{% block page_content %}
    {% block content_intro %}
    {% endblock content_intro %}
    {% if page_obj %}
    <table class="table table-sm table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Name {% if request.user|has_role:"product_editor" or request.user.is_staff %}
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="{% url "catalog_product_new" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add Product</a>
    {% endif %}</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for product in page_obj %}
        <tr>
          <td>
              {% if product|get_class == 'Product' %}
            {% url 'catalog_product' product.pk as product_url %}
          {% else %}
            {% url 'catalog_ingredient' product.pk as product_url %}
          {% endif %}
              <a href="{{ product_url }}">{{ product.name }}</a></td>
          <td>
          {% if user.is_authenticated and user.is_staff %}{{ product.state }}{% endif %}
            {{ product.views }}
            {% for tag in product.tags.all %} <a href="{% url 'catalog_product_by_tag' tag.slug %}" class="badge badge-pill badge-info">{{ tag.name }}</a> {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
      {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
    {% else %}
        <p class="text-center my-4">No Products found for that query.</p>
    {% endif %}
{% endblock %}
