{% extends "base.html" %}
{% load humanize %}
{% load has_role %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load class_tag %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Product List</li>
{% endblock %}

{% block page_content %}
    {% block content_intro %}
    {% endblock content_intro %}
    {% if page_obj %}
    <table class="table table-sm table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for product in page_obj %}
        {% if product|get_class == 'Product' %}
            {% url 'catalog_product' product.pk as product_url %}
          {% else %}
            {% url 'catalog_ingredient' product.pk as product_url %}
          {% endif %}
        <tr data-href="{{ product_url }}">
          <td>
              <h5>{{ product.name }}</h5><br/>
          <img alt="{{ product.name }}" src="{% thumbnail product.image 75x0 crop %}">
          </td>
          <td>
            {{ product.description|truncatewords:20 }}<br/>
              {% for ingredient in product.ingredients.all %} <span class="badge badge-pill badge-info">{{ ingredient.name }}</span> {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
      {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
    {% else %}
        <p class="text-center my-4">No Products found for that query.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = $(this).data("href");
            });
        });
</script>
{% endblock %}
