{% extends 'base.html' %}
{% load bootstrap4 %}
{% load has_role %}
{% load static %}
{% load thumbnail %}
{% load ratings %}
{% load alt_names %}
{% load external_urls %}

{% block title %}
 {{ product.name }} - {{ block.super }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item"><a href="{% url 'catalog_product_by_category' product.category.pk %}">{{ product.category.name }}</a></li>
    <li class="breadcrumb-item active">{{ product.name }}</li>
{% endblock %}

{% block page_content %}
    <div class="row">
      <div class="col">
        <img alt="{{ product.name }}" src="{% thumbnail product.image 512x0 crop %}">
      </div>
      <div class="col">
        <h2>{{ product.name }}</h2>
        <p>More from <a href="{% url 'catalog_product_by_manufacturer' product.manufacturer_id %}">{{ product.manufacturer.name }}</a> </p>
      {% ratings product %}
          <p>Ingredients: {{ product.ingredients.count }}
              <br />
        {% for ingredient in product.ingredients.all %}
            <a href="{% url 'catalog_ingredient' ingredient.pk %}" {{ ingredient.pk|alt_names }}>{{ ingredient.name }}</a>
            {% if forloop.last %} {% else %}, {% endif %}
        {% endfor %}
    </p>
      {% if product.links.all.count > 0 %}
          <p> Buy this product:</p><p>
          {% for link in product.links.all %}
            {% if link.name == 'Official' %}
              <a href="{% external_url link.url %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">{{ link.name }}</a>
            {% endif %}
            {% if link.name == 'Amazon' %}
              <a href="{% external_url link.url %}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">{{ link.name }}</a>
            {% endif %}
            {% if link.name == 'eBay' %}
              <a href="{% external_url link.url %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">{{ link.name }}</a>
            {% endif %}
            {% if link.name == 'Other' %}
              <a href="{% external_url link.url %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{ link.name }}</a>
            {% endif %}
          {% endfor %}
          </p>
      {% endif %}
        <p>{{ product.description|escape }}</p>
        <p>Tags:
      <br />
            {% for tag in product.tags.all %}<a href="{% url 'catalog_product_by_tag' tag.slug %}" class="badge badge-pill badge-info">{{ tag.name }}</a> {% endfor %}</p>
      {% if user.is_authenticated %}
          {% if buttons.show_state %}
          <span class="version"> Product state: {{ product.state }}</span> <br />
          {% endif %}
          {% if buttons.show_publish  %}
            <a href="{% url 'catalog_publish_product' product.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Publish</a>
          {% endif %}
          {% if buttons.show_submit %}
          <a href="{% url 'catalog_moderate_product' product.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>
          {% endif %}
          {% if buttons.show_moderate %}
            <a href="{% url 'catalog_moderate_product' product.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Moderate</a>
          {% endif %}
          {% if buttons.show_edit %}
<a href="{% url 'catalog_product_edit' product.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
          {% endif %}
      {% endif %}
      </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script>$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger: 'hover'
    });
});
</script>
{% endblock %}
