{% extends 'catalog/product_list.html' %}
{% load bootstrap4 %}
{% block title %}
 {{ category.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item"><a href="{% url 'catalog_tag_list' %}">Tags</a></li>
    <li class="breadcrumb-item active">{{ tag }}</li>
{% endblock %}

{% block content_intro %}
    <p>Listing products tagged with <span class="badge badge-pill badge-info">{{ tag }}</span></p>
{% endblock %}