{% extends 'catalog/product_list.html' %}
{% load bootstrap4 %}
{% block title %}
 {{ manufacturer.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_manufacturer_list' %}">Manufacturer</a></li>
    <li class="breadcrumb-item active">{{ manufacturer.name }}</li>
{% endblock %}

{% block content_intro %}
{% endblock %}