{% extends 'catalog/product_list.html' %}
{% load bootstrap4 %}
{% block title %}
 {{ category.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_category_list' %}">Categories</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %}

{% block content_intro %}
{% endblock %}