{% extends "star_ratings/widget_base.html" %}
{% block rating_detail %}
    <div class="star-ratings-rating-average">
        <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span> | <span class='star-ratings-rating-value'>{{ rating.count }}</span> Reviews
    </div>
    <div class="star-ratings-rating-user">
        You Rated: <span class='star-ratings-rating-value'>{% if user_rating %}{{ user_rating.score }}{% else %}Not rated{% endif %}</span>
    </div>
    {% if not user.is_authenticated and not anonymous_ratings and not read_only %}
        <p>Please log in to rate.</p>
    {% endif %}

{% endblock %}