{% extends 'catalog/product_list.html' %}
{% load bootstrap4 %}
{% block title %}
 {{ search.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'catalog_search' %}">Search</a></li>
  <li class="breadcrumb-item active">{{ search.name }}</li>
{% endblock %}

{% block content_intro %}
    <div class="mx-4">
      <p>Make informed decisions about your skin care products.</p>
      <p>We list ingredients with helpful information about each one so you know what you are putting on your skin.</p>
    </div>
    <div class="mx-auto pt-4" style="width: 60%;">
    <h5>Search for a product or ingredient</h5>
      <form action="{% url 'catalog_search' %}" method="get" novalidate>
    {%  bootstrap_form form %}
          <div class="mx-auto pb-2" style="width: 100px;">
            <button type="submit" class="btn btn-block btn-success">Search</button>
          </div>
      </form>
    </div>
{% endblock %}
