{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'catalog_home' %}">Search</a></li>
    <li class="breadcrumb-item active">Tags</li>
{% endblock %}

{% block page_content %}
    {% if page_obj %}
    <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Tag</th>
        <th>Products</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in page_obj %}
      {% url 'catalog_product_by_tag' tag.slug as tag_url %}
        <tr>
          <td><a href="{{ tag_url }}">{{ tag.name }}</a></td>
          <td>{{ tag.num_times }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
      {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
    {% else %}
        <p>No categories found.</p>
    {% endif %}
{% endblock %}
