{% load i18n %}

<input
    type="text"
    id="{{ field_id }}"
    data-url="{% url 'catalog_ingredient_search_filter' %}"
    data-name="{{ field_name }}"
    data-search-field="{{ search_field }}"
    data-limit="{{ limit }}"
    data-many="{% if many %}1{% else %}0{% endif %}"
    class="searchable-select form-control{% if field_class %} {{ field_class }}{% endif %}"
    placeholder="{% trans 'Start typing' %}"
/>

<hr />

<div id="{{ field_id }}-chips" class="chips">
    {% for value in values %}
        <div class="chip">
        {{ value }}
        <input type="hidden" name="{{ field_name }}" value="{{ value.pk }}" />
        </div>
    {% endfor %}
</div>
