{% extends 'error.html' %}
{% block title %} Bad Request 400 {% endblock %}
{% block card_body %}
<h4 class="card-title">Bad Request</h4>
<div class="card-block">
  <p>
    The server does not understand.
  </p>
</div>
{% endblock %}