{% extends 'error.html' %}
{% block title %} Permission Denied 403 {% endblock %}
{% block card_body %}
<h4 class="card-title">Permission Denied</h4>
<div class="card-block">
  <p>
    Sorry you cannot do that.
  </p>
</div>
{% endblock %}