{% extends 'error.html' %}
{% block title %} Page Not Found Error 404 {% endblock %}
{% block card_body %}
<h4 class="card-title">Page Not Found - Error 404</h4>
<div class="card-block">
  <p>
    Sorry the requested page was Not Found.
  </p>
</div>
{% endblock %}
