{% extends 'error.html' %}
{% block title %} Server Error 500 {% endblock %}
{% block card_body %}
<h4 class="card-title">Server Error</h4>
<div class="card-block">
  <p>
    Our engineers have been notified.
  </p>
</div>
{% endblock %}