{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Membership - {{ block.super }}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'my_account' %}">My account</a></li>
    <li class="breadcrumb-item active">Membership</li>
{% endblock %}

{% block stylesheet %}
    {% include "includes/pricing.html" %}
{% endblock %}

{% block page_content %}
    {% if page_obj %}
    <div class="row">
        {% for membership in page_obj %}
        <div class="col col-sm-4">
        <div class="plan">
            <div class="plan-title"><h3>{{ membership.name }}</h3><span>{{ membership.description }}</span></div>
            <div class="plan-price"><h3><span class="symbol">&pound</span> {{ membership.price }}</h3></div>
            <div class="plan-detail">{{ membership.long_description }}</div>
            {% if user.member.membership.pk == membership.pk %}
            <div><span class="btn btn-mute">Current level</span></div>
            {% else %}
            <div><a href="{% url 'select_membership' membership.pk %}" class="btn btn-success">Switch</a></div>
            {% endif %}
        </div>
        </div>
        {% endfor %}
    </div>
        {% if is_paginated %}
      {% bootstrap_pagination page_obj %}
      {% endif %}
        {% else %}
        <div>No memberships</div>
    {% endif %}

{% endblock %}