{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Edit post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topic_posts' post.topic.board.pk post.topic.pk %}">{{ post.topic.name }}</a></li>
  <li class="breadcrumb-item active">Edit post</li>
{% endblock %}

{% block page_content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'board_topic_posts' post.topic.board.pk post.topic.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE();
</script>
{% endblock %}