{% extends 'base.html' %}
{%  load bootstrap4 %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'board_home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block page_content %}
<form method="post" novalidate>
    {% csrf_token %}
    {%  bootstrap_form form %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}
