{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}
{% block title %}
 {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'board_home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block page_content %}
    {% if user.is_staff %}
    <div class="mb-4">
    <a href="{% url 'board_new_topic' board.pk %}" class="btn btn-primary">New topic</a>
  </div>

    {% endif %}
    <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
{% for topic in page_obj %}
    {% url 'board_topic_posts' board.pk topic.pk as topic_url %}
        <tr>
          <td><a href="{{ topic_url }}">{{ topic.name }}</a>
            <small class="text-muted">
              Pages:
              {% for i in topic.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if topic.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {% if is_paginated %}
    {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock %}
