<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
<script>
    var config = {
        apiKey: '20215b360995ed9e4402ea26cff7cb39c7c3cc2a',
        product: 'COMMUNITY',
        initialState: "OPEN",
        notifyOnce: "TRUE",
        statement : {
            description: 'For more information visit our',
            name : 'Privacy Statement',
            url: '/privacy/',
            updated : '26/01/2018'
        },
        optionalCookies: [
            {
                    name : 'analytics',
                    label: 'Analytical Cookies',
                    description: 'Analytical cookies help us to improve our website by collecting and reporting information on its usage.',
                    cookies: ['_ga', '_gid', '_gat', '__utma', '__utmt', '__utmb', '__utmc', '__utmz', '__utmv'],
                    onAccept : function(){},
                    onRevoke: function(){}
                },{
                    name: 'marketing',
                    label: 'Marketing',
                    description: '',
                    cookies: [],
                    onAccept : function(){},
                    onRevoke: function(){}
                },{
                    name: 'preferences',
                    label: 'Preferences',
                    description: '',
                    cookies: [],
                    onAccept : function(){},
                    onRevoke: function(){}
                }
        ],
        necessaryCookies: [
            'session',
            'sessionid',
            'csrftoken',
        ],
        position: 'RIGHT',
        theme: 'LIGHT'
    };

    CookieControl.load( config );
</script>
