{% extends 'base.html' %}
{% load has_role %}
{% load bootstrap4 %}
{% block title %}My account{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block page_content %}
  <div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-success">Save changes</button>
      </form>
  </div>
  <div class="col-lg-6 col-md-8 col-sm-10">
      <a href="{% url "session_list" %}" class="btn btn-primary btn-lg active mb-1" role="button" aria-pressed="true">My sessions</a>
  {% if request.user|has_role:"product_editor" %}
      <a href="{% url "catalog_product_by_owner" user.profile.pk %}" class="btn btn-primary btn-lg active mb-1" role="button" aria-pressed="true">My Products</a>
  {% endif %}
  {% if object.pk == 1 %}
      <a href="{% url "membership_home" %}" class="btn btn-primary btn-lg active mb-1" role="button" aria-pressed="true">Membership</a>
      <a href="{% url "catalog_product_moderated" %}" class="btn btn-primary btn-lg active mb-1" role="button" aria-pressed="true">Moderated products</a>
      <a href="{% url "catalog_ingredient_moderated" %}" class="btn btn-primary btn-lg active mb-1" role="button" aria-pressed="true">Moderated ingredients</a>
  {% endif %}
  </div>
  </div>
    {% if object.pk == 1 %}
    <div class="row">
    <div class="col-lg-12">
        <BR />
    {{ user|pprint }}
        {{ user.member.membership.name }}
        <p>groups:
        {% for group in user.groups.all %}
        {{ group.name }}
        {% endfor %}</p>

    </div>
    </div>
    {% endif %}
{% endblock %}
