{% load static %}{% load bootstrap4 %}{% load analytical %}{% load version %}<!DOCTYPE html>
<html lang="en">
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, inital-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="/static/filer/css/admin_filer.css" type="text/css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap" rel="stylesheet">
    <title>{% block title %}Skin Catalog{% endblock title %}</title>
    {% analytical_head_bottom %}
</head>
<body class="bg-dark">
{% analytical_body_top %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container bg-dark rounded">
        <a class="navbar-brand font-primary ml-2" href="{% url 'catalog_home' %}">Skin Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pl-2 bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if request.resolver_match.url_name == "catalog_home" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'catalog_home' %}">Home</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == "board_home" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'board_home' %}">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'catalog_search' %}" method="get" novalidate>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" maxlength="30" id="id_q">
          <button class="btn btn-outline-success my-2" type="submit"><i class="fa fa-search"></i></button>
        </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'stats_home' %}">Dashboard</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'my_account' %}">My Account</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                            <div class="drowdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <form class="form-inline ml-auto my-2">
                    <a href="{% url 'login' %}" class="btn btn-outline-light ml-2 font-primary">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-success mx-2 font-primary">Register</a>
                    </form>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>

{# body overrides all this default stuff #}
{% block body %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container bg-light rounded py-2">
<ol class="breadcrumb my-4">
    {% block breadcrumb %}
    {% endblock %}
</ol>
    {% block page_content %}{% endblock %}
</div>

{% endblock body %}
<span class='version'>Version: {% version %}</span>
{% bootstrap_javascript jquery='full' %}
{% include "includes/cookie_control.html" %}
{% block javascript %}{% endblock %}
{% analytical_body_bottom %}
</body>
</html>

